force-app/main/default/flows/Get_Vehicle_Catalog.flow-meta.xml
<?xml version='1.0' encoding='UTF-8'?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Merge_Collections</name>
        <label>Merge Collections</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>allModels</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Filtered_Models</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allModels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_All_Models</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Models</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_No_Models</name>
        <label>Set No Models</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>vehicleSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No encontré modelos que coincidan con tu búsqueda. ¿Querés ver todo el catálogo?</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Init_Buffer</name>
        <label>Init Buffer</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>📋 Catálogo Electra:

</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Models</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Model_Line</name>
        <label>Append Model Line</label>
        <locationX>50</locationX>
        <locationY>840</locationY>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>• </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Models.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> (</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Models.Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>) — </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Models.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
  Autonomía </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Models.Range_Km__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> km · 0–100 en </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Models.Acceleration_0_100_Sec__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>s · carga </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Models.Charging_Time_Min__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> min · ARS $</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Models.Price_ARS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buffer</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>

</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Models</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finalize_Buffer</name>
        <label>Finalize Buffer</label>
        <locationX>50</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>vehicleSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buffer</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Segment_Filter</name>
        <label>Check Segment Filter</label>
        <locationX>50</locationX>
        <locationY>120</locationY>
        <defaultConnector>
            <targetReference>Get_All_Models</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Filter</defaultConnectorLabel>
        <rules>
            <name>Has_Filter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_Segment_Filter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Filtered_Models</targetReference>
            </connector>
            <label>Has Filter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Models</name>
        <label>Has Models?</label>
        <locationX>50</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>Set_No_Models</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Models</defaultConnectorLabel>
        <rules>
            <name>Has_At_Least_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allModels</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Init_Buffer</targetReference>
            </connector>
            <label>Has At Least One</label>
        </rules>
    </decisions>
    <description>Returns a Spanish-language catalog of active Electra vehicle models. Optionally filters by segment type. Called by ElectraAI Auto Concierge agent.</description>
    <formulas>
        <name>Has_Segment_Filter</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!segmentFilter}))</expression>
    </formulas>
    <interviewLabel>Get Vehicle Catalog {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Vehicle Catalog</label>
    <loops>
        <name>Loop_Models</name>
        <label>Loop Models</label>
        <locationX>50</locationX>
        <locationY>720</locationY>
        <collectionReference>allModels</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_Model_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finalize_Buffer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Models</name>
        <label>Get All Active Models</label>
        <locationX>182</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Merge_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle_Model__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Code__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Range_Km__c</queriedFields>
        <queriedFields>Acceleration_0_100_Sec__c</queriedFields>
        <queriedFields>Charging_Time_Min__c</queriedFields>
        <queriedFields>Price_ARS__c</queriedFields>
        <queriedFields>Position__c</queriedFields>
        <sortField>Code__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Filtered_Models</name>
        <label>Get Filtered Models</label>
        <locationX>50</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Merge_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>segmentFilter</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle_Model__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Code__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Range_Km__c</queriedFields>
        <queriedFields>Acceleration_0_100_Sec__c</queriedFields>
        <queriedFields>Charging_Time_Min__c</queriedFields>
        <queriedFields>Price_ARS__c</queriedFields>
        <queriedFields>Position__c</queriedFields>
        <sortField>Code__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Segment_Filter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Optional vehicle segment filter. When provided, only models matching this Type__c value are returned. Examples: "Sedan family", "Coupé", "Wagon / station", "Pickup", "Hatchback compact".</description>
        <name>segmentFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Plain-Spanish formatted catalog of vehicle models with specs and pricing.</description>
        <name>vehicleSummaries</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>buffer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allModels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle_Model__c</objectType>
    </variables>
<areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    </Flow>