force-app/main/default/flows/Schedule_Test_Drive.flow-meta.xml
<?xml version='1.0' encoding='UTF-8'?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Set_Model_Not_Found</name>
        <label>Set Model Not Found</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>confirmation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>❌ No encontré el modelo "{!modelCode}". Modelos válidos: E-Cruiser (ECRU), E-Sport (ESPT), E-Wagon (EWGN), E-Truck (ETRK), E-City (ECTY).</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Dealer_Not_Found</name>
        <label>Set Dealer Not Found</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>confirmation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>❌ No encontré la concesionaria "{!dealerCode}". Concesionarias válidas: PALERMO (Buenos Aires), CORDOBA (Córdoba), ROSARIO (Rosario).</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_No_Slots</name>
        <label>Set No Slots</label>
        <locationX>314</locationX>
        <locationY>840</locationY>
        <assignmentItems>
            <assignToReference>confirmation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>❌ No hay turnos disponibles para {!Lookup_Vehicle_Model.Name} en {!Lookup_Dealer.Name} desde {!requestedDateTime}. Probá con otra fecha o concesionaria.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Preview</name>
        <label>Set Preview</label>
        <locationX>314</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>confirmation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>✅ Encontré un turno disponible:

📅 {!Find_Available_Slot.Slot_DateTime__c}
🚗 {!Lookup_Vehicle_Model.Name} ({!Lookup_Vehicle_Model.Code__c})
📍 {!Lookup_Dealer.Name} — {!Lookup_Dealer.City_AR__c}
👤 Reservaría a nombre de {!customerName} ({!customerEmail})

¿Confirmás la reserva? Si sí, llamame de nuevo con confirmCreate=true.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Parse_Customer_Name</name>
        <label>Parse Customer Name</label>
        <locationX>50</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>leadFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_ParseFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_ParseLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_Existing_Lead_ID</name>
        <label>Use Existing Lead ID</label>
        <locationX>50</locationX>
        <locationY>1560</locationY>
        <assignmentItems>
            <assignToReference>finalLeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Slot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_New_Lead_ID</name>
        <label>Use New Lead ID</label>
        <locationX>314</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>finalLeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Slot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Success</name>
        <label>Set Success</label>
        <locationX>50</locationX>
        <locationY>1800</locationY>
        <assignmentItems>
            <assignToReference>confirmation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>✅ ¡Listo! Tu prueba de manejo del {!Lookup_Vehicle_Model.Name} en {!Lookup_Dealer.Name} quedó confirmada para el {!Find_Available_Slot.Slot_DateTime__c}. Te vamos a esperar.

Número de confirmación: TD-{!Find_Available_Slot.Name}

Si necesitás cancelar o reagendar, contactanos por este chat.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookedSlotId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Available_Slot.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
<decisions>
        <name>Model_Found</name>
        <label>Model Found?</label>
        <locationX>50</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>Set_Model_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Model_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Vehicle_Model</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Dealer</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dealer_Found</name>
        <label>Dealer Found?</label>
        <locationX>50</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>Set_Dealer_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Dealer_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Dealer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Available_Slot</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Slot_Found</name>
        <label>Slot Found?</label>
        <locationX>50</locationX>
        <locationY>720</locationY>
        <defaultConnector>
            <targetReference>Set_No_Slots</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Slot_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Available_Slot</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Confirm_Create</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Confirm_Create</name>
        <label>Check Confirm Create</label>
        <locationX>50</locationX>
        <locationY>840</locationY>
        <defaultConnector>
            <targetReference>Set_Preview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Preview</defaultConnectorLabel>
        <rules>
            <name>Execute_Booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parse_Customer_Name</targetReference>
            </connector>
            <label>Execute</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Lead_Exists</name>
        <label>Lead Exists?</label>
        <locationX>50</locationX>
        <locationY>1320</locationY>
        <defaultConnector>
            <targetReference>Use_New_Lead_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Update_Existing_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Fields</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <description>Schedules a test drive for a customer by finding an available slot, optionally upserting Lead + updating Test_Drive_Slot__c. Called by Electra Auto Concierge agent.</description>
    <formulas>
        <name>fx_ParseFirstName</name>
        <dataType>String</dataType>
        <expression>IF(
  CONTAINS({!customerName}, " "),
  LEFT({!customerName}, FIND(" ", {!customerName}) - 1),
  "Cliente"
)</expression>
    </formulas>
    <formulas>
        <name>fx_ParseLastName</name>
        <dataType>String</dataType>
        <expression>IF(
  CONTAINS({!customerName}, " "),
  MID({!customerName}, FIND(" ", {!customerName}) + 1, LEN({!customerName})),
  {!customerName}
)</expression>
    </formulas>
    <interviewLabel>Schedule Test Drive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Test Drive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Upsert_Lead</name>
        <label>Upsert Lead</label>
        <locationX>50</locationX>
        <locationY>1080</locationY>
        <connector>
            <targetReference>Get_Existing_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>customerEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>leadFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>leadLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Particular - {!customerName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Web - Electra Concierge</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_of_Interest__c</field>
            <value>
                <elementReference>Lookup_Vehicle_Model.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Dealer__c</field>
            <value>
                <elementReference>Lookup_Dealer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Drive_Status__c</field>
            <value>
                <stringValue>Confirmado</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Vehicle_Model</name>
        <label>Lookup Vehicle Model</label>
        <locationX>50</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Model_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>modelCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle_Model__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Code__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Dealer</name>
        <label>Lookup Dealer</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dealer_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dealerCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dealer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>City_AR__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Available_Slot</name>
        <label>Find Available Slot</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Slot_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup_Vehicle_Model.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dealer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup_Dealer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Disponible</stringValue>
            </value>
        </filters>
        <filters>
            <field>Slot_DateTime__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>requestedDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Test_Drive_Slot__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Slot_DateTime__c</queriedFields>
        <sortField>Slot_DateTime__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Lead</name>
        <label>Get Existing Lead</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Lead_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Fields</name>
        <label>Update Lead Fields</label>
        <locationX>50</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>Use_Existing_Lead_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Vehicle_of_Interest__c</field>
            <value>
                <elementReference>Lookup_Vehicle_Model.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Dealer__c</field>
            <value>
                <elementReference>Lookup_Dealer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Drive_Status__c</field>
            <value>
                <stringValue>Confirmado</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Slot</name>
        <label>Update Slot</label>
        <locationX>50</locationX>
        <locationY>1680</locationY>
        <connector>
            <targetReference>Set_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Available_Slot.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Reservado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booked_By__c</field>
            <value>
                <elementReference>finalLeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Test_Drive_Slot__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_Vehicle_Model</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Customer full name (for Lead upsert)</description>
        <name>customerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Customer email (unique key for Lead upsert)</description>
        <name>customerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Vehicle model code, e.g. ECRU</description>
        <name>modelCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Dealer code, e.g. PALERMO</description>
        <name>dealerCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Requested date/time for test drive (earliest acceptable)</description>
        <name>requestedDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>If true, execute the booking. If false, preview only.</description>
        <name>confirmCreate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Confirmation message or error</description>
        <name>confirmation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Booked slot ID (if booking succeeds)</description>
        <name>bookedSlotId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>leadFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    </Flow>